.img{
			 height:550px;
			 width:1350px;
		}
        .menu{
        	  position: absolute;
        	  margin-top:-520px;
        	  height:100px;
        }
        .ul{
           display:inline-flex;
           list-style-type:none;
           margin-left:300px;
        }
        .li{
           margin-left:50px;
        }
        a{
          color:white;
         }
        i{
          color:white;
          font-size:30px;
          position: absolute;
          margin-top:0px;
          font-family:forte;
        }
        sup{
        	  background-color:yellow;
        	  font-size:10px;
        	  color:black;
        	  margin-left:80px;
        	  position:sticky;
           }
        .it{
          position: absolute;
          color:white;
          margin-top:20px;
          font-size:10px;
        }
        button{
        	   margin-left:440px;
        }
        .mid{
        	 margin-top:-390px;
        	 margin-left:560px;
        }
        h1{
           color:white;
           font-size:60px;
        }
        u{
          margin-top:10px;
        }
        .border{
        	   height:2px;
        	   width:35px;
        	   background-color:white;
        	   color:white;
        	   margin-left:135px;
        	   position: absolute;
        }
        .para1{
          color:white;
          margin-left:-50px;
          margin-top:20px;
          position: absolute;
        }
        .para2{
          color:white;
          margin-left:-50px;
          margin-top:45px;
          position: absolute;
        }

        .box{
        	 background-color:white;
        	 position: absolute;
        	 box-shadow:0px 2px 2px 2px;
        	 height:130px;
        	 width:900px;
        	 margin-top:200px;
        	 margin-left:250px;
        }
        .ul1{
           display:inline-flex;
           list-style-type:none;  
           margin-top:25px;   	
        }
        .li1{
           margin-top:10px;
           margin-left:0px;
           margin-right:100px;
        }
        .li2{
           margin-top:10px;
           margin-left:10px;
        }
        .li3{
           margin-top:10px;
           margin-left:170px;
        }
        .li4{
           margin-top:10px;
           margin-left:100px;
        }
        .li5{
           margin-top:20px;
           margin-left:-360px;
        }
        .button{
                height:40px;
                width:150px;
                background-color:black;
                color:white;
        }
        .li6{
           margin-top:45px;
           margin-left:-840px;
        }
        .li7{
           margin-top:45px;
           margin-left:60px;
        }
        .date{
             border:none;
             margin-top:40px;
             margin-left:50px;
        }
        .option{
              border:none;
              margin-top:40px;
              margin-left:25px;
        }