.main{
	  background-color:darkred;
	  height:640px;
	  width:100%;
     }
.sub1{
	  height:250px;
	  width:450px;
	  border:dotted white;
	  float:left;
	  margin-left:100px;
	  margin-top:20px;
     }
.s1{
	color:white;
	margin-left:190px;
	margin-top:30px;
}
.sub21{
	  height:250px;
	  margin-top:20px;
	  width:100px;
	  border:dotted white;
	  margin-right:500px;
	  float:right;
     }
.sub22{
	  height:250px;
	  width:100px;
	  border:dotted white;
	  margin-right:200px;
	  margin-top:-255px;
	  float:right;
	 } 
.sub23{
	  height:250px;
	  width:100px;
	  border:dotted white;
	  margin-right:40px;
	  margin-top:-255px;
	  float:right;
	 } 
.sub11{
	  height:100px;
	  width:100px;
	  border:dotted white;
	  padding:50px;
	  margin-left:120px;
	  margin-top:20px;
     }
.sub12{
	  height:100px;
	  width:100px;
	  border:dotted white;
	  margin-right:10px;
     }
.one{
	 border:dotted white;
	 float:left;
	 margin-top:80px;
	 padding:50px;
	 margin-left:100px;
	 width:30px;
   }
.two{
	 border:dotted white;
	 float:left;
	 margin-top:80px;
	 padding:50px;
	 margin-left:25px;
	 width:30px;
   }
.three{
	 border:dotted white;
	 float:left;
	 margin-top:80px;
	 padding:50px;
	 margin-left:25px;
	 width:30px;
   }
.four{
	 border:dotted white;
	 float:left;
	 margin-top:210px;
	 margin-left:-460px;
	 padding:50px;
	 width:30px;
   }
.five{
	 border:dotted white;
	 float:left;
	 margin-top:210px;
	 margin-left:-297px;
	 padding:50px;
	 width:30px;
   }
.six{
	 border:dotted white;
	 float:left;
	 margin-top:210px;
	 margin-left:-135px;
	 padding:50px;
	 width:30px;
   }
.r1{
	float:right;
	height:230px;
	width:400px;
	margin-top:80px;
	margin-right:200px;
	border:dotted white;
   }
.r11{
	 border:dotted white;
	 height:170px;
	 width:120px;
	 margin-top:28px;
	 margin-left:40px;
	 float:left;
    }
.r12{
	 border:dotted white;
	 height:100px;
	 width:150px; 
	 float:right; 
	 margin-top:28px;
	 margin-right:40px;
}
.r13{
	 border:dotted white;
	 height:50px;
	 width:150px; 
	 float:right; 
	 margin-top:20px;
	 margin-right:40px;
}
.border{
	    border:1px dashed white;
	    width:1345px;
	    margin-top:315px;
	    position:absolute;
       }
.border1{
	    border:1px dashed white;
	    border-style:dashed;
	    height:640px;
	    position:absolute;
	    margin-left:650px;
       }
.para1{
	   margin-top:290px;
	   margin-left:293px;
	   position:absolute;
	   color:white;
}
.para2{
	   margin-top:40px;
	   margin-left:810px;
	   position:absolute;
	   color:white;
}
.para3{
	   margin-top:610px;
	   margin-left:905px;
	   position:absolute;
	   color:white;
}
.para4{
	   margin-top:250px;
	   margin-left:-465px;
	   position:absolute;
	   color:white;
}